html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Navigation section*/
.top-navigation {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	width: 100%;
	position: fixed;
	z-index: 9999;
}
.content {
	padding: 0 17rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.links {
	float: right;
	margin-top: 1.75em;
}
.links > li {
	display: inline;
	margin-left: 1.5em;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333;
}
.top-navigation .logo {
	height: 70px;
}

/*introduction section*/
.introduction {
	background-image: url("file:///C:/Users/Nicole/Pictures/Saved%20Pictures/first-background%20copy.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction .content {
	color: #fff;
	text-align: center;
}
.introduction h1,
.introduction h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.introduction h1 {
	margin-top: 17.5rem;
	margin-bottom: -1rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.introduction button {
	background-color: #f15a29;
	color: #fff;
	border-radius: .25rem;
	cursor: pointer;
	font-size: 1.25rem;
	padding: 1rem 1.5rem;
	border: none;
}
button:hover {
	background-color: #d9400e;
	border-color: #d9400e;
}

/*three-icons-section*/
.cases .content {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	padding: none;
	margin-top: 7.875rem;
}
.cases .devices li {
	display: inline-block;
	box-sizing: border-box;
	list-style-type: none;
	align-items: center;
}
.cases h2 {
	font-weight: 300;
	text-align: center;
	font-size: 2.75rem;
}
.cases .devices h3 {
	font-weight: 400;
	font-size: 1.563rem;
}

/*footer section*/
.social {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
	font-weight: 400;
}