html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Navigation section--will need a fixed top nav bar
position: fixed; width: 100% makes sure the bar spreads
across the entire page*/

.top-navigation {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	width: 100%;
	position: fixed;
}
.content {
	padding: 0 17rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.links {
	float: right;
	margin-top: 1.75em;
}
.links > li {
	display: inline;
	margin-left: 1.5em;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333;
}
.top-navigation .logo {
	height: 70px;
}

/*introduction section*/
.introduction {
	background-image: url("file:///C:/Users/Nicole/Pictures/Saved%20Pictures/first-background%20copy.jpg");
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction .content {
	color: #fff;
	text-align: center;
}
.introduction h1,
.introduction h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.introduction h1 {
	margin-top: 17.5rem;
	margin-bottom: -1rem;
	font-size: 3.125rem;
}
.introduction h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.introduction button {
	background-color: #f15a29;
	color: #fff;
	border-radius: .25rem;
	cursor: pointer;
	font-size: 1.25rem;
	padding: 1rem 1.5rem;
	border: none;
}
button:hover {
	background-color: #d9400e;
	border-color: #d9400e;
}
